@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@import "./vars", "./components/navigation/mainNavigation", "./components/home",
  "./components/searchBar", "./components/Btns";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  color: var(--text-color);
  min-height: 100vh;
  background-color: var(--bg-color);
}
